footer
  p 该页面生成时间：#{new Date() - startTime} ms
  p 网站更新于：<time datetime="#{siteBuiltDate}">#{datefns.format(siteBuiltDate, "yyyy-MM-dd HH:mm:ss")}
  p View source on <a href="https://github.com/xuchunyang/hnclone">GitHub</a>.
