doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{sitename}
    style
      include style.css
  body
    include nav.pug
    main
      ol
        each post in posts
          li
            include post-item.pug

    include foot.pug
