doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title hn clone
    style
      include style.css
  body
    nav
      ul
        li <a href="/">hn clone</a>
        li <a href="/submit">submit</a>
        if username
          li #{username} <a href="/logout">logout</a>
        else
          li <a href="/login">login</a>
    main
      ol
        each post in posts
          li
            a(href=post.url)= post.title
    include foot.pug
