doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title hn clone
    style
      include style.css
  body
    nav
      <a href="/">hn clone</a><span> ğ„ </span>
      <a href="/submit">submit</a><span> ğ„ </span>
      if username
        span #{username} ğ„ 
        <a href="/logout">logout</a>
      else
        <a href="/login">login</a>
