body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  color: #333;
  background-color: #fff;
  /* https://andybrewer.github.io/mvp/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

nav li {
  margin-right: 1em;
}

nav li:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
}

/* TODO try css var for link color blue */
a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

input,
textarea {
  font-family: inherit;
  font-size: 100%;
}

textarea {
  width: 100%;
  height: 5em;
}

.grid {
  display: grid;
  /* XXX fit-content, auto, /submit  */
  grid-template-columns: max-content max-content;
  grid-auto-columns: auto;
  grid-gap: 10px;
}

.grid :last-child {
  grid-column: 2 / 3;
  text-align: center;
}

.grid.submit {
  grid-template-columns: max-content auto;
}

/* XXX 保持在底部  */
footer p {
  font-size: 80%;
  color: #555;
  margin: 0;
  text-align: center;
}

footer {
  margin-top: 3em;
  line-height: 1.2;
}

.domain {
  color: #888;
  font-style: italic;
  font-size: 80%;
  vertical-align: middle;
}

.byline {
  font-size: 80%;
  color: #888;
}

a.vote,
a.vote:visited {
  color: #F44336;
}
