doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title submit - hnclone
    style
      include style.css
  body
    h3 submit
    form(action="submit" method="post")
      .grid.submit
        label(for="title") title
        input#title(name="title" required)
        label(for="url") url
        input#url(name="url" required type="url")
        input(type="submit")
    include foot.pug
